canvas {
    width: 100%;
    height: 100%;
    background: black;
}

body, html {
    height: 100%;
    margin: 0;
}


#hint {
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

#hint .message {
    display: inline-block;
    background: white;
    color: #666666;
    font-family: "Lucida Grande", verdana, sans-serif;
    font-size: 12px;
    line-height: 32px;
    border-radius: 10.56px;
    padding: 0 16px;
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
}

#codedby {
    position: fixed;
    width: 480px;
    bottom: 0;
    left: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
    #codedby {
      font-size: 13px;
    }
  }